name: CI
on:
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  Awesome_Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: npx awesome-lint
